body {
  background-color: #b7b7b7;
  min-height: 100vh;
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #fcaeae;
  padding: 15px;
}
.link {
  padding: 10px 35px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.link:hover {
  background-color: #ff8989;
  cursor: pointer;
}
.allProducts {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  width: 220px;
  height: 220px;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  margin: 30px 15px;
  width: 270px;
  height: 320px;
  background-color: #ffc5c5;
}
img:hover {
  transform: scale(1.2);
  transition: transform 1.2s ease-in-out;
  cursor: pointer;
}
.title {
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.product-card button {
  background-color: #ffc5c5;
  cursor: pointer;
  padding: 10px 14px;
}
.product-card button:hover {
  background-color: #ff8989;
}
.btn-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #ffc5c5;
  padding: 10px;
  margin: 10px;
  flex: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
}
.btn:hover {
  background-color: #ff8989;
  cursor: pointer;
}
.container {
  margin-top: 50px;
}
.text {
  padding: 10px 10px 10px 10px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fcaeae;
  opacity: 0.7;
  margin-left: 2%;
  margin-bottom: 50px;
  width: 55%;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
h2 {
  font-size: 18px;
  margin-top: 5px;
}
.price {
  font-size: 13px;
  margin-top: 5px;
}
.audio {
  margin-left: 20%;
  margin-top: 3%;
}
.btn-music {
  background-color: #ffc5c5;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  border: 2px solid #ff8989;
  border-radius: 20px;
}
.btn-music:hover {
  background-color: #ff8989;
  cursor: pointer;
}
.answer-container {
  margin: 3% 10% 10% 10%;
  display: flex;
  justify-content: center;
}
.text-areaAnswer {
  width: 600px;
  height: 250px;
  border: 2px solid #ffc5c5;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.title-answer,
.title-contact {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  font-size: 18px;
}
.text-answer {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.btn-answer {
  background-color: #ffc5c5;
  padding: 12px;
  width: 80px;
  border: none;
}
.direction {
  width: 40px;
  height: 40px;
}
.btn-submit {
  background-color: #ffc5c5;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  border: none;
}
.btn-answer:hover,
.btn-submit:hover {
  background-color: #ff8989;
  cursor: pointer;
}
form {
  margin: 5% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  border: 2px solid #ffc5c5;
  cursor: pointer;
}
textarea {
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 2px solid #ffc5c5;
  margin-bottom: 20px;
  cursor: pointer;
}
.contact {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding: 15px;
  background-color: #ffc5c5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram {
  color: #ff8989;
  padding: 15px;
}
.goToInsta {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media all and (max-width: 810px) {
  nav {
    padding: 5px;
  }
  .link {
    font-size: 15px;
    text-align: center;
    margin: auto;
    padding: 10px 40px;
  }
  .container {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .btn {
    margin: 5px;
    width: 100px;
    font-size: 14px;
    text-align: center;
  }
  .text {
    margin: auto;
    width: 75%;
    height: 80%;
  }
  img {
    width: 280px;
    height: 240px;
  }
  .product-card {
    margin: 20px 30px;
    width: 300px;
    height: 350px;
  }
  .answer-container {
    margin: 5% 10% 10% 10%;
    display: flex;
    justify-content: center;
  }
  .text-areaAnswer {
    height: 300px;
  }
  .title-answer,
  .title-contact {
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    font-size: 18px;
  }
  .text-answer {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  .btn-answer {
    width: 100px;
    font-size: 18px;
  }
  .audio {
    margin-left: 10%;
    margin-top: 5%;
  }
  form {
    margin-top: 15%;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .link {
    font-size: 14px;
    padding: 4px 5px;
  }
  .text {
    width: 80%;
  }
  .btn-container {
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .product-card {
    margin: 20px 30px;
    width: 300px;
    height: 340px;
  }
  .btn {
    margin: 5px;
  }
  .answer-container {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-areaAnswer {
    width: 280px;
    height: 380px;
    text-align: left;
  }
  .title-answer {
    margin: 2%;
    font-size: 17px;
  }
  .text-answer {
    font-size: 16px;
  }
  .btn-answer {
    margin: 10px;
    width: 100px;
    padding: 5px;
    font-size: 17px;
  }
  .direction {
    width: 30px;
    height: 30px;
  }
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
  .btn-submit {
    font-size: 16px;
  }
  .goToInsta {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
  }
}

/* Cart */
.cart-container {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}
.cart-title {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 26px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.empty {
  text-align: center;
  font-size: 18px;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 20px;
  border-radius: 12px;
  border: 1.5px solid #fcaeae;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.cart-item img {
  width: 180px;
  height: auto;
}
.cart-info {
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
}
.cart-info h4 {
  font-size: 22px;
}
.cart-info p {
  font-size: 18px;
}

.quantity {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #fcaeae;
}
.quantity button:hover {
  background-color: #ff8989;
}
.remove {
  margin-top: 10px;
  font-size: 16px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
.cart-summary {
  font-size: 18px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 1.5px solid #fcaeae;
  text-align: center;
}
.cart-summary button {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cart-item img {
    width: 80px;
  }
  .cart-info {
    align-items: center;
  }
  .quantity {
    justify-content: center;
  }
}
